.select__body {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #d8d8d8;
    border: solid #787878 1px;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    z-index: 100;
}